@use 'variables';

.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    width: 80%;
}

.topNav{
    align-items: center;

    .navlist{
        display: flex;
        padding-right: 20px;
        li{
            width: 100px;
            padding: 10px;
            margin-right: 20px;
            font-size: 1.2em;
            text-align: center;

            a{
                width: 100%;
            }

            &::after{
                content:'';
                display: block;
                margin-top: 10px;
                width: 0;
                height: 3px;
                background: variables.$tangerine;
                transition: width 0.5s ease-in-out;
            }

            &:hover::after,
            &.active::after{
                width: 100%;
            }
        }
    }
}