@use 'variables';

.white{
    background-color: variables.$white;
}

.pewter{
    background-color: variables.$pewter;
}


.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    figure{
        width: 20%;
        .logo{
            max-width: 170px;
            max-height: 70px;

            @media only screen and (max-width: 800px){
                max-width: 140px;
                max-height: 50px;
            }

            @media only screen and (max-width: 660px){
                max-width: 120px;
                max-height: 40px;
            }
        }
    }
    
}


.topNav{
    align-items: center;

    .navList{
        display: flex;
        padding-right: 20px;
        li{
            width: 100px;
            padding: 10px;
            margin-right: 20px;
            font-size: 1.2em;
            text-align: center;

            a{
                width: 100%;
            }

            &::after{
                content:'';
                display: block;
                margin-top: 10px;
                width: 0;
                height: 3px;
                background: variables.$tangerine;
                transition: width 0.5s ease-in-out;
            }

            &:hover::after,
            &.active::after{
                width: 100%;
            }
        }
    }

    &.mobNav{
        display: none;
    }

    @media only screen and (max-width: 760px){

        &.deskToptNav{
            display:none;
        }

        &.mobNav{
            display: inline-block;
            position: relative;

            .mobNavList{
                position: absolute;
                top: 40px;
                right: 0px;
                background-color: variables.$ivory;
                padding: 20px 60px;

                &.hidden{
                    display: none;
                }

                li{
                    padding: 4px;
                    font-size: 1.2em;
                    font-weight: 600;
                    text-align: center;
                    border-bottom: variables.$tangerine 1px dotted;
        
                    a{
                        width: 100%;
                        color: variables.$tangerine;

                        &:hover{
                            color: variables.$pewter;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }
}