.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    height: calc(100vh - 520px);

    h1{
        font-size: 3em;
    }

    p{
        font-size: 1.4em;
    }
}

.next{
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button{
        border-radius: 10px;
        font-size: 1em;
        padding: 20px;
        &:hover{
            cursor: pointer;
        }
    }
}