@use '../variables';

.wrapper{
    padding: 40px;
    background-color: variables.$pewter;
    text-align: center;

    h1{
        text-align: center;
    }

    svg{
        background-color: #fff;
    }
}