@use '../variables.scss';

.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 600px;
    margin: 40px auto;
    font-size: 1.1em;
    min-height: 100%;

    div{
        margin-bottom: 20px;

        label{
            width:100px;
            display: inline-block;
        }

        input, textarea{
            font-size: 1em;
            background-color: variables.$white;
            border: none;
            box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
            line-height: 1.4em;
            color: variables.$tangerine;
        }
    }



    .name{
        input{
            width: calc(50% - 120px);
            margin-right: 20px; 
        }
    }

    .email{
        input{
            width: calc(100% - 100px);
        }
    }

    .query{
        label{
            display:block;
            margin-bottom: 10px;
        }
        textarea{
            width: 100%;
            min-height: 180px;
        }
    }

    button{
        border-radius: 10px;
        font-size: 1em;
        padding: 10px 20px;
        margin: 20px auto;
        color: variables.$white;
        background-color: variables.$tangerine;
        border: 1px solid variables.$tangerine;
        font-weight: 500;
        box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);

        &:hover{
            cursor: pointer;
            color: variables.$tangerine;
            background-color: variables.$white;
            border: 1px solid variables.$tangerine;
            border-radius: 60px;
        }
    }
}