@use '../variables';

.wrapper{
    padding: 40px;
    background-color: #fff;
    height: calc(100vh - 600px);
    display: flex;

    .descriptionWrapper{
        width: 60%;
        text-align: center;
        align-self: center;

        h2{
            margin-bottom: 20px;
            font-size: 1.6em;
        }

        .desciption{
            padding: 40px 0;
        }

        .techStacks{
            margin-bottom: 40px;
            span{
                padding: 6px 10px;
                margin-right: 10px;
                background: variables.$ivory;
                border-radius: 5px;
                box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
            }
        }

        a{
            svg{
                height: 40px;
                margin-right: 10px;

                &:hover{
                    color: variables.$tangerine;
                }
            }

            
        }

        button{
            border-radius: 10px;
            font-size: 1em;
            padding: 10px 40px;
            margin: 20px auto;
            color: variables.$white;
            background-color: variables.$tangerine;
            border: 1px solid variables.$tangerine;
            box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
            font-weight: 200;

            &:hover{
                cursor: pointer;
                color: variables.$tangerine;
                background-color: variables.$white;
                border-radius: 40px;
            }
        }
    }

    figure{
        align-self: center;
        img{
            margin: 0 auto;
        }
    }

    svg{
        background-color: #fff;
    }
}