@use '../variables';
.bgcolor{
    background: variables.$ivory;
}

.topWrapper{
    display:flex;
    flex-direction: column;
    .wrapper{
        padding: 40px 40px 40px 80px;
        background-color: variables.$ivory;
        min-height: 640px;
        height: calc(100vh - 600px);
        display: flex;
        max-width: 1200px;
        margin: 0 auto;

        .descriptionWrapper{
            width: 60%;
            text-align: left;
            align-self: center;
            padding: 0 40px;
            margin: 0 auto;

            h2{
                margin-bottom: 20px;
                font-size: 1.6em;
            }

            .desciption{
                padding: 20px 0 30px 0;
            }

            .skills{
                margin-bottom: 40px;
                div{
                    margin: 20px 0;
                    display: flex;
                    flex-direction: row;

                    span{
                        display: inline-block;
                        padding: 10px;
                        margin-right: 10px;
                        background: variables.$white;
                        border-radius: 5px;
                        box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
                    }

                }
                
            }

            a{
                svg{
                    height: 40px;
                    margin-right: 10px;
                    
                    &:hover{
                        color: variables.$tangerine;
                    }
                }

                
            }

            .buttons{
                display: flex;
                flex-direction: row;

                button{
                    border-radius: 10px;
                    font-size: 1em;
                    padding: 10px 20px;
                    margin-right: 20px;
                    color: variables.$ivory;
                    background-color: variables.$tangerine;
                    border: 1px solid variables.$tangerine;
                    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
                    font-weight: 200;
        
                    &:hover{
                        cursor: pointer;
                        color: variables.$tangerine;
                        background-color: variables.$ivory;
                        border-radius: 40px;
                    }
                }
            }
        }

        figure{
            text-align: center;
            align-self: center;
            width: 40%;
            margin: 0 auto;
            img{      
                margin: 0 auto;
                width: 80%;
            }
        }


        svg{
            background-color: #fff;
        }
    }
}