@use '../variables';

.wrapper{
    padding: 20px;
    background-color: #fff;
    height: calc(100vh - 600px);

    h1{
        text-align: center;
    }

    svg{
        background-color: #fff;
    }
}