@use '../variables';

.wrapper{
    display:flex;
    flex-direction: column;
}

.white{
    background-color: variables.$white;
}

.ivory{
    background-color: variables.$ivory;
}

.pewter{
    background-color: variables.$pewter;
}