@use '../variables';

.bgcolor{
    background: variables.$ivory;
}

.topWrapper{
    display:flex;
    flex-direction: column;

    .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        margin-top: 40px;
        min-height: 360px;
        height: calc(100vh - 520px);
        animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 3s;
        -moz-animation: fadeIn ease 3s;
        -o-animation: fadeIn ease 3s;
        -ms-animation: fadeIn ease 3s;
    
        h1{
            font-size: 3em;
        }
    
        .myName{
            font-size: 4em;
        }
    
        p{
            font-size: 1.4em;
        }

        .typeWriter{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-top: 20px;
            span{
                margin-left: 10px;
                font-size: 1.4em;
            }
            
        }
    }
    
    .next{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
        button{
            border-radius: 10px;
            font-size: 1em;
            padding: 20px;
            margin: 20px auto;
            color: variables.$ivory;
            background-color: variables.$tangerine;
            border: 2px solid variables.$ivory;
            font-weight: 500;
            box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    
            &:hover{
                cursor: pointer;
                color: variables.$tangerine;
                background-color: variables.$ivory;
                border: 2px solid variables.$tangerine;
            }
        }
    }

}

@keyframes fadeIn{
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }

