@use '../variables';

.bgcolor{
    background: variables.$ivory;
}

.topWrapper{
    display:flex;
    flex-direction: column;

    .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        margin-top: 40px;
        min-height: 360px;
        height: calc(100vh - 520px);
        animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 3s;
        -moz-animation: fadeIn ease 3s;
        -o-animation: fadeIn ease 3s;
        -ms-animation: fadeIn ease 3s;

        @media only screen and (max-width: 800px) {
          flex-direction:column;
        }

        section{
          padding-left: 40px;
          h1{
            font-size: 3em;
            @media only screen and (max-width: 660px) {
              font-size: 2em;
            }
          }
      
          .myName{
              font-size: 4em;
              @media only screen and (max-width: 660px) {
                font-size: 2.4em;
              }
          }
      
          p{
              font-size: 1.4em;
          }

          .typeWriter{
              display: flex;
              flex-direction: row;
              align-items: baseline;
              margin-top: 20px;
              span{
                  margin-left: 10px;
                  font-size: 1.4em;
              }
              
          }
        }
        
        figure{
          width: 30%;

          @media only screen and (max-width: 1200px) {
            width: 20%;
            img{
              width: 180px;
              height: 200px;
            }
          }
          @media only screen and (max-width: 800px) {
            width: 100%;
            text-align: center;
          }
        }
    }
    
    .next{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
        button{
            border-radius: 10px;
            font-size: 1em;
            padding: 20px;
            margin: 20px auto;
            color: variables.$ivory;
            background-color: variables.$tangerine;
            border: 2px solid variables.$ivory;
            font-weight: 500;
            box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);

            @media only screen and (max-width: 660px) {
              font-size: 1.2em;
            }
    
            &:hover{
                cursor: pointer;
                color: variables.$tangerine;
                background-color: variables.$ivory;
                border: 2px solid variables.$tangerine;
            }
        }
    }

}

@keyframes fadeIn{
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
  }

