@use '../variables';

    .introduction{
        .description{
            display: flex;
            align-items: center;
            font-size: 1.1em;

            @media only screen and (max-width: 800px) {
                flex-direction: column-reverse;
            }

            div{
                width: 60%;
                @media only screen and (max-width: 800px) {
                    width: 100%;
                }    
            }
            figure{
                width: 40%;
                img{
                    width: 50%;
                    margin: 0 auto;
                    display: block;
                }

                @media only screen and (max-width: 1200px) {
                    width: 80%;
                    img{
                        width: 60%;
                    }
                }

                @media only screen and (max-width: 800px) {
                    width: 100%;
                    img{
                        width: 60%;
                    }
                }
            }
        }
    }
