.sideNavSection{
    position: fixed;
    left: 20px;
    top: calc(50% - 80px);
    font-size: 1.6em;

    li{
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 460px){
        display: none;
    }
}